/*Variables*/

$Primary-Bg: #004562;
$Secondary-Bg: #00415a;
$fontColor: #062938;
$fontColorSec: #021923;
$Section-Size: 100vh;

body{
    margin: 0;
    background-color: #001f2b;
    color: $fontColor;
    height: 400%;

}

.First {
    padding: 3%;
    height: $Section-Size;
    background-color:  $Primary-Bg;
    filter: brightness(1);
    animation-name: example;
   animation-duration: 8s;
   animation-iteration-count: 1;
}
@keyframes example {
   20%   {
      filter: brightness(0);
      -webkit-filter: brightness(0);

   }
   30%  {
      filter: brightness(0.4);
      -webkit-filter: brightness(0.4);
    
   }
   40%{
    filter: brightness(0.1);
    -webkit-filter: brightness(0.1);
   }
   100% {
     filter: brightness(1);
     -webkit-filter: brightness(1);
   }
}

.Lightbulb{
    margin: auto;
    height: 150px;
    width: 159px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: brightness(1.2);
  transform:rotate(180deg);
  background:url("../img/LightbulbOff.png") no-repeat;
  animation-name: anim;
    width:159px;
    height:150px;
    -webkit-animation: anim 8s 1 forwards; /* Safari 4+ */
    -moz-animation:    anim 8s 1 forwards; /* Fx 5+ */
    -o-animation:      anim 8s 1 forwards; /* Opera 12+ */
    animation:         anim 8s 1 forwards; /* IE 10+, Fx 29+ */
  }

@-webkit-keyframes anim {
  0%, 30%, 100% {
    background:url("../img/LightbulbOn.png") no-repeat;
  }
  20%, 40% {
    background:url("../img/LightbulbOff.png") no-repeat;
  }
}
@-moz-keyframes anim {
  0%, 30%, 100% {
    background:url("../img/LightbulbOn.png") no-repeat;
  }
  20%, 40% {
    background:url("../img/LightbulbOff.png") no-repeat;
  }
}
@-o-keyframes anim {
  0%, 30%, 100% {
    background:url("../img/LightbulbOn.png") no-repeat;
  }
  20%, 40% {
    background:url("../img/LightbulbOff.png") no-repeat;
  }
}
@keyframes anim {
  0%, 30%, 100% {
    background:url("../img/LightbulbOn.png") no-repeat;
  }
  20%, 40% {
    background:url("../img/LightbulbOff.png") no-repeat;
  }
}

.Presentation {
  @import url('https://fonts.googleapis.com/css?family=Playball');
  font-family: 'Playball', cursive;
    height: 300px;
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    h1{
        color: $fontColorSec;
        font-size: 6em;
        margin-bottom: 4%;
    }
    h3{
      font-size: 1.5em;
      color: $fontColorSec;
    }
}

.ContactIcons {
    margin: auto;
    width: 40%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    div{ 
        width: 250px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    a{  
        margin: auto;
        width: 50px;
        img{ 
          width:55px; 
          &:hover{
          background-color: $fontColor; 
          width:53px; 
          border-radius: 50%; 
          }
    }
}
}
}

.Second{
    height: $Section-Size;
    background-color: $Secondary-Bg;
    padding: 5%;
}

.SecondContainer{

    margin: auto;
    background-color: transparent;
    height: 600px;
    width: 90%;
    display: flex;
    div{
        margin: auto;
        background-color: $fontColor;
        width: 18%;
        height: 100%;
        border-radius: 30px;
        .SecImg{
            background-color: none;
            width: 60%;
            height: 25%;
            display: flex;
            margin-top: 5%;
            max-width: 150px;
            img{
                filter: grayscale(100%);
                margin: auto;
                width: 90%;
                &:hover{
                    -webkit-filter: grayscale(0%);
                    transition-duration: 0.8s;
                }
            }
        }
        .SecDescription{
            background-color: lightblue;
            width: 60%;
            height: 68%;
            margin-top: 5%;
            opacity: 50%;
        }
    }
}

.Third {

    height: $Section-Size;
    width: 100%;
    background-color: lightgray;

}

.Fourth {

    height: $Section-Size;
    width: 100%;
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;

    .FourthContainer{

        width: 80%;
        margin: auto;
        background-color: aliceblue;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        form {
            width: 100%;
           div{
            width: auto;
            margin: auto;
            display: flex;
            padding: 1%;
                input{
                    width: 24%;
                    margin: auto;   
                }
                .TextInput1{
                    margin-right: 1%;
                }
                .TextInput2{
                    margin-left: 1%;
                }
           }
        input{ 
            display: flex;
            margin: auto;
            text-align: left;
            width:50%;
            font-size: 1.3em;
        }   
        textarea{
            display: block;
            margin: auto;
            width:50%;
            font-size: 1.2em;
        }
        button{
            width: auto;
            margin: auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }
     }
    }

}